
{% extends 'base.html' %}

{% load static %}  


{%block content%}

<br><br><br><br>

 <!-------------------------------------product heading section----------------------------------->
 <section class="product-section0 section">
    <h1>Selected Product</h1> : Product Name

  </section>

  
  <section class="product-detail-section1">


  <div class="pic-and-detail">
    <div class="pic">
      <img src="{{ single_product.images.url}}" class="desc-pic" alt="">
    </div>

    <div class="details">
       
      <h4>{{ single_product.category.category_name }}</h1>
        <div class="ratings"></h4>
      <h1>{{ single_product.product_name }}</h1>
      <div class="ratings">
        <input type="radio" id="star5" name="rate" value="5" />
    <label for="star5" title="text">5 stars</label>
    <input type="radio" id="star4" name="rate" value="4" />
    <label for="star4" title="text">4 stars</label>
    <input type="radio" id="star3" name="rate" value="3" />
    <label for="star3" title="text">3 stars</label>
    <input type="radio" id="star2" name="rate" value="2" />
    <label for="star2" title="text">2 stars</label>
    <input type="radio" id="star1" name="rate" value="1" />
    <label for="star1" title="text">1 star</label>
      </div> <br> <br>
      <div class="description">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>

      <div class="product-size">
        <h4>Size</h4>
        <div class="size-layout">
            <input type="radio" name="size" value="S" id="1" class="size-input">
            <label for="1" class="size">S</label>

            <input type="radio" name="size" value="M" id="2" class="size-input">
            <label for="2" class="size">M</label>

            <input type="radio" name="size" value="L" id="3" class="size-input">
            <label for="3" class="size">L</label>

            <input type="radio" name="size" value="XL" id="4" class="size-input">
            <label for="4" class="size">XL</label>

            <input type="radio" name="size" value="XXL" id="5" class="size-input">
            <label for="5" class="size">XXL</label>
        </div>
    </div>

    <span class="divider"></span>

    <div class="product-btn-group">
      {% if single_product.stock <= 0 %}
      <h1> out of stock</h1>
      {% else %}
      {% if in_cart %}
        <a href="#" class="btn  btn-success"> <span class="text">Added to Cart</span> <i class="fas fa-check"></i>  </a>
        <a href="{% url 'cart' %}" class="btn  btn-outline-primary"> <span class="text">View Cart</span> <i class="fas fa-eye"></i>  </a>

        {% else %}
      <div class="button buy-now"><i class='bx bxs-zap' ></i> Buy Now</div>
     <a href="{% url 'add_cart' single_product.id %}"> <div class="button add-cart"><i class='bx bxs-cart' ></i> Add to Cart</div></a>
     {% endif %}
      {% endif %}

  
    </div>

  </div>


  
  </section>








{% endblock %}

